In [2]:
# Create a function
def say_hello():
    print("Hello!")

In [3]:
# Call a function
say_hello()

Hello!

In [4]:
# Create a function with a parameter
def say_something(something):
    print(something)

In [5]:
# Call the function
say_something("Hello World!")

Hello World!

In [6]:
Jane_says = "Hi, my name is Jane and I'm learning to code Python!"
say_something(Jane_says)

Hi, my name is Jane and I'm learning to code Python!

In [7]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [8]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [9]:
# Change the grades by one letter grade
my_grades.map({"D":"C", "C":"B","B":"A"})

0    A
1    B
2    A
3    C
dtype: object

In [12]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [13]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [15]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object